@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form method="post" asp-action="AddPhoto" asp-controller="Photos" enctype="multipart/form-data">
        <label for="picture">Add Picture</label>
        <input type="file" id="picture" required name="picture"/><br /><br />
        <input class="btn" type="submit" value="Add Photo"/>
    </form>
</div>