@model FlickrClone.Models.Photo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    string Image = "";
    if (Model.Image != null)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        Image = String.Format("data:image/gif;base64,{0}", base64);
        <div class="card-image">
            <img height="300" width="300" src='@Image' />
        </div>
        foreach(var taggedUser in ViewBag.Tags)
        {
           <h3>Tagged Friends: </h3>
            <p>@taggedUser.User.UserName</p>

        }
    }

}
<form method="post" asp-action="Create" asp-controller="Comment">
    <label for="content">Talk some smack: </label>
    <textarea type="text" id="content" required name="content"></textarea>
    <input type="hidden" value="@Model.PhotoId" name="photoId"/>
    <input class="btn" type="submit" value="Comment" />
</form>
@foreach(var comment in Model.Comments)
{
    <div class="commentBox">
        <br />
        <p>@comment.Content</p>
        <p>By: @comment.User.UserName</p>
        

    </div>
}